@font-face {
  font-family: 'flamabook';
  src: url('../fonts/flamabook/flamabook-webfont.eot');
  src: url('../fonts/flamabook/flamabook-webfont.eot') format('eot');
  src: url('../fonts/flamabook/flamabook-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/flamabook/flamabook-webfont.woff2') format('woff2'),
  url('../fonts/flamabook/flamabook-webfont.woff') format('woff'),
  url('../fonts/flamabook/flamabook-webfont.ttf') format('truetype'),
  url('../fonts/flamabook/flamabook-webfont.svg#flamabook') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
    font-family: 'fira_sanslight_italic';
    src: url('../fonts/firasan/firasans-lightitalic-webfont.eot');
    src: url('../fonts/firasan/firasans-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/firasan/firasans-lightitalic-webfont.woff2') format('woff2'),
         url('../fonts/firasan/firasans-lightitalic-webfont.woff') format('woff'),
         url('../fonts/firasan/firasans-lightitalic-webfont.ttf') format('truetype'),
         url('../fonts/firasan/firasans-lightitalic-webfont.svg#fira_sanslight_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'fira_sanslight';
    src: url('../fonts/firasan/firasans-light-webfont.eot');
    src: url('../fonts/firasan/firasans-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/firasan/firasans-light-webfont.woff2') format('woff2'),
         url('../fonts/firasan/firasans-light-webfont.woff') format('woff'),
         url('../fonts/firasan/firasans-light-webfont.ttf') format('truetype'),
         url('../fonts/firasan/firasans-light-webfont.svg#fira_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'fira_sansbook';
    src: url('../fonts/firasan/firasans-book-webfont.eot');
    src: url('../fonts/firasan/firasans-book-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/firasan/firasans-book-webfont.woff2') format('woff2'),
         url('../fonts/firasan/firasans-book-webfont.woff') format('woff'),
         url('../fonts/firasan/firasans-book-webfont.ttf') format('truetype'),
         url('../fonts/firasan/firasans-book-webfont.svg#fira_sansbook') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'flamalight';
    src: url('../fonts/flamabook/flamalight-webfont.eot');
    src: url('../fonts/flamabook/flamalight-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/flamabook/flamalight-webfont.woff2') format('woff2'),
         url('../fonts/flamabook/flamalight-webfont.woff') format('woff'),
         url('../fonts/flamabook/flamalight-webfont.ttf') format('truetype'),
         url('../fonts/flamabook/flamalight-webfont.svg#flamalight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'flamaultralight';
    src: url('../fonts/flamabook/flamaultralight-webfont.eot');
    src: url('../fonts/flamabook/flamaultralight-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/flamabook/flamaultralight-webfont.woff2') format('woff2'),
         url('../fonts/flamabook/flamaultralight-webfont.woff') format('woff'),
         url('../fonts/flamabook/flamaultralight-webfont.ttf') format('truetype'),
         url('../fonts/flamabook/flamaultralight-webfont.svg#flamaultralight') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'flamamedium';
    src: url('../fonts/flamabook/flamamedium-webfont.eot');
    src: url('../fonts/flamabook/flamamedium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/flamabook/flamamedium-webfont.woff2') format('woff2'),
         url('../fonts/flamabook/flamamedium-webfont.woff') format('woff'),
         url('../fonts/flamabook/flamamedium-webfont.ttf') format('truetype'),
         url('../fonts/flamabook/flamamedium-webfont.svg#flamamedium') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'flamabold';
    src: url('../fonts/flamabook/flamabold-webfont.eot');
    src: url('../fonts/flamabook/flamabold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/flamabook/flamabold-webfont.woff2') format('woff2'),
         url('../fonts/flamabook/flamabold-webfont.woff') format('woff'),
         url('../fonts/flamabook/flamabold-webfont.ttf') format('truetype'),
         url('../fonts/flamabook/flamabold-webfont.svg#flamabold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'fira_sansmedium';
    src: url('../fonts/firasan/firasans-medium-webfont.eot');
    src: url('../fonts/firasan/firasans-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/firasan/firasans-medium-webfont.woff2') format('woff2'),
         url('../fonts/firasan/firasans-medium-webfont.woff') format('woff'),
         url('../fonts/firasan/firasans-medium-webfont.ttf') format('truetype'),
         url('../fonts/firasan/firasans-medium-webfont.svg#fira_sansmedium') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'flamabasic';
    src: url('../fonts/flamabook/flamabasic-webfont.eot');
    src: url('../fonts/flamabook/flamabasic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/flamabook/flamabasic-webfont.woff2') format('woff2'),
         url('../fonts/flamabook/flamabasic-webfont.woff') format('woff'),
         url('../fonts/flamabook/flamabasic-webfont.ttf') format('truetype'),
         url('../fonts/flamabook/flamabasic-webfont.svg#flamabasic') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'fira_sansregular';
    src: url('../fonts/firasan/firasans-regular-webfont.eot');
    src: url('../fonts/firasan/firasans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/firasan/firasans-regular-webfont.woff2') format('woff2'),
         url('../fonts/firasan/firasans-regular-webfont.woff') format('woff'),
         url('../fonts/firasan/firasans-regular-webfont.ttf') format('truetype'),
         url('../fonts/firasan/firasans-regular-webfont.svg#fira_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'fira_sanssemibold';
    src: url('../fonts/firasan/firasans-semibold-webfont.eot');
    src: url('../fonts/firasan/firasans-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/firasan/firasans-semibold-webfont.woff2') format('woff2'),
         url('../fonts/firasan/firasans-semibold-webfont.woff') format('woff'),
         url('../fonts/firasan/firasans-semibold-webfont.ttf') format('truetype'),
         url('../fonts/firasan/firasans-semibold-webfont.svg#fira_sanssemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}


@mixin flamalight($size, $color) {
  font-family: "flamalight";
  font-size: $size;
  color: $color;
}
@mixin firasansemibold($size, $color) {
  font-family: "fira_sanssemibold";
  font-size: $size;
  color: $color;
}
@mixin firasanregular($size, $color) {
  font-family: "fira_sansregular";
  font-size: $size;
  color: $color;
}
@mixin firasanmedium($size, $color) {
  font-family: "fira_sansmedium";
  font-size: $size;
  color: $color;
}
@mixin firasanlightitalic($size, $color) {
  font-family: "fira_sanslight_italic";
  font-size: $size;
  color: $color;
}
@mixin flamabasic($size, $color) {
  font-family: "flamabasic";
  font-size: $size;
  color: $color;
}
@mixin flamabold($size, $color) {
  font-family: "flamabold";
  font-size: $size;
  color: $color;
}
@mixin flamamedium($size, $color) {
  font-family: "flamamedium";
  font-size: $size;
  color: $color;
}
@mixin flama($size, $color) {
  font-family: "flamabook";
  font-size: $size;
  color: $color;
}

@mixin firasanlight($size, $color) {
  font-family: "fira_sanslight";
  font-size: $size;
  color: $color;
}
@mixin firasanbook($size, $color) {
  font-family: "fira_sansbook";
  font-size: $size;
  color: $color;
}
@mixin firasan($size, $color) {
  font-family: "fira_sansbook";
  font-size: $size;
  color: $color;
}
@mixin flamaultralight($size, $color) {
  font-family: "flamaultralight";
  font-size: $size;
  color: $color;
}
