%tabicon {
        background-repeat: no-repeat;
        background-position:50%;
        height: 90%;
        width: 100%;
        background-size:contain;
}
.tabs {
    background-color: #29354B !important;
    margin-bottom: -1px !important;
    .tab-item{
    // max-width: 300px;
    .icon.homeiconon {
        @extend %tabicon;
        background-image: url('../img/footer/menugrey_home.png');
    }
    .icon.homeiconoff {
        @extend %tabicon;
        background-image: url('../img/footer/menuwhite_home.png');
    }

     .icon.planiconon {
        @extend %tabicon;
        background-image: url('../img/footer/menugrey_plan.png');
    }
    .icon.planiconoff {
        @extend %tabicon;
        background-image: url('../img/footer/menuwhite_plan.png');
    }

    .icon.toolsiconon {
        @extend %tabicon;
        background-image: url('../img/footer/menugrey_tools.png');
    }
    .icon.toolsiconoff {
        @extend %tabicon;
        background-image: url('../img/footer/menuwhite_tools.png');
    }

    .icon.issuesiconon {
        @extend %tabicon;
        background-image: url('../img/footer/menugrey_issues.png');
    }
    .icon.issuesiconoff {
        @extend %tabicon;
        background-image: url('../img/footer/menuwhite_issues.png');
    }

    }
}