.slide-position {
    background-size: cover !important;
    height: 100%;
    background-position: center !important;
    text-align: center;
}

%blurb-text {
     width: 75%;
     margin-left: auto;
     margin-right: auto;
     text-align: center;
     @include flama(15px, $white);
 }
.intro-component {
 .logo {
     //30/570
     margin-top: 5.3%;
     height: 22px;
     //55/570
    margin-bottom: 5.2%;
 }
//set to ios
 .icon-image {
     //53/570
    margin-bottom: 0.2%;
    width: 100%;
    max-height: 247px;
 }

 .slide1 {
    background: url('../img/intro/onboarding1.png') no-repeat;
    @extend .slide-position;
    .blurb {
        @extend %blurb-text;
    }
 }

.slide2 {
    background: url('../img/intro/onboarding2.png') no-repeat;
    @extend .slide-position;
    .blurb {
        @extend %blurb-text;
    }
 }

 .slide3 {
    background: url('../img/intro/onboarding3.png') no-repeat;
    @extend .slide-position;
    .blurb {
        @extend %blurb-text;
    }
 }

 .slide4 {
    background: url('../img/intro/onboarding4.png') no-repeat;
    @extend .slide-position;
    .blurb {
        @extend %blurb-text;
    }
 }

 .slide5 {
    background: url('../img/intro/onboarding5.png') no-repeat;
    @extend .slide-position;
    .blurb {
     width: 80%;
     margin-left: auto;
     margin-right: auto;
     text-align: center;
     @include flama(15px, $white);
    }
    .logo {
        margin-bottom: 0px;
    }

    .icon-image {
        margin-bottom: 0px;
    }
 }
  .slider {
    width: 100%;
    height: 100%;
  }

  .slider-pager-page
{
    border: 1px solid #CAC8CF;
    border-radius: 50%;
    height: 10px;
    width: 10px;
    color: transparent;
}
.slider-pager-page.active
{
  background-color: #CAC8CF;
  color: transparent;
}

.slider-pager {
    bottom: 40px !important;

    .skip {
        @include flama(14px, $theme_red);
    }
}
}

