/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/

// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;

// Include all of Ionic
@import "www/lib/ionic/scss/ionic";
body {
    line-height: 140%;
}
@mixin mq($media-query){

    // mobile only breakpoint
    @if $media-query == small {
        @media only screen and (max-width:400px) { @content; }
    }
}
@import "_color";
@import "_fonts";
@import "_loginpage";
@import "_intropage";
@import "_footer";
@import "_votenow";
@import "_plan";
@import "_tool";
@import "_issue";
@import "_dashboard";
@import "_plandetail";
@import "_voteflow";