<overlay show="vm.show">
    <div class="riding-overlay">
        <div class="title">
            Please select your riding.
        </div>
        <div class="options" ng-click="vm.ridingSelected('toronto')">
            Toronto-Centre
        </div>
        <div class="options" ng-click="vm.ridingSelected('spadina')">
            Spadina-Fort York
        </div>
        <div class="options" ng-click="vm.ridingSelected('rosedale')">
            University-Rosedale
        </div>
    </div>
</overlay>
<ion-view view-title="Dashboard">
  <ion-content scroll="true">

    <vote-now></vote-now>
    <div class="candidate-alignment">
        Your Candidate Alignment
    </div>
    <div ng-repeat="oneCandidate in vm.candidates" class="candidate">
        <div class="header" ng-style="vm.getStyle(oneCandidate)" ng-init="openAccordion" ng-click="openAccordion=!openAccordion">
            <div class="padded">
                <div class="name"> <span class="party">{{oneCandidate.party}}</span> <span class="title">{{oneCandidate.title}}</span></div>
                <div class="thumbs">
                    <div class="space25">
                        <img src="./img/dashboard/thumbsup.png"/>
                    </div>
                    <div class="space25">
                        5
                    </div>
                    <div class="space25">
                        <img src="./img/dashboard/thumbsdown.png"/>
                    </div>
                    <div class="space25">
                        6
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div ng-if="openAccordion" class="open-accordion">
            <div class="issue-row" ng-repeat="oneIssue in oneCandidate.issue">
                <div class="issue">
                    <img ng-src="{{oneIssue.img}}"/>
                    <span>{{oneIssue.name}}</span>
                </div>
                    <div class="down"></div>
                    <div class="down">
                        <img src="./img/dashboard/thumbsdown.png" ng-if="oneIssue.down">
                    </div>
                    <div class="down"></div>
                    <div class="up">
                        <img src="./img/dashboard/thumbsup.png" ng-if="oneIssue.up">
                    </div>
                <div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="current-poll">
        <div class="title">Current Polls</div>
        <div class="button-bar poll-button-bar">
            <a class="button center-line" ng-class="{'active-button': vm.button.riding}" ng-click="vm.button.riding=true;vm.button.canada=false;">My Riding</a>
            <a class="button" ng-class="{'active-button': vm.button.canada}" ng-click="vm.button.riding=false;vm.button.canada=true;">Canada</a>
        </div>
        <div class="my-riding" ng-if="vm.button.riding">
            <div ng-repeat="oneCandidate in vm.riding">
                <div class="title">
                    <span class="name">{{oneCandidate.name}}</span>
                    <span class="poll-number">{{oneCandidate.poll}}</span>
                    <div class="clearfix"></div>
                </div>
                <div class="party">
                    {{oneCandidate.party}}
                </div>
                <div class="poll-bar">
                    <div class="poll-bar-fill" ng-style="{width: oneCandidate.width}">
                </div>
                </div>
            </div>
        </div>
        <div class="my-riding" ng-if="vm.button.canada">
            <div ng-repeat="oneCandidate in vm.canada">
                <div class="title">
                    <span class="name">{{oneCandidate.name}}</span>
                    <span class="poll-number">{{oneCandidate.poll}}</span>
                    <div class="clearfix"></div>
                </div>
                <div class="party">
                    {{oneCandidate.party}}
                </div>
                <div class="poll-bar">
                    <div class="poll-bar-fill" ng-style="{width: oneCandidate.width}">
                </div>
                </div>
            </div>
        </div>

    </div>
  </ion-content>
</ion-view>