<div ui-view></div>
<ion-tabs class="tabs-icon-top tab-bottom tabs-color-active-positive">
  <ion-tab title="" icon-off="homeiconon"
   icon-on="homeiconoff" href="#/dashboard">
  </ion-tab>

  <ion-tab title="" icon-off="issuesiconon"
   icon-on="issuesiconoff" href="#/issues">
  </ion-tab>

  <ion-tab title="" icon-off="planiconon"
   icon-on="planiconoff" href="#/plan">
  </ion-tab>

  <ion-tab title="" icon-off="toolsiconon"
   icon-on="toolsiconoff" href="#/tool">
  </ion-tab>

</ion-tabs>