<ion-view>
    <ion-content>
    <ion-refresher
        pulling-text="Pull to refresh..."
        on-refresh="vm.doRefresh()">
    </ion-refresher>
    <div ng-repeat="item in vm.items">

      </div>
    </div>
        <ion-infinite-scroll  ng-if="!vm.noMoreItemsAvailable"
                            on-infinite="vm.loadMore()"
                            distance="10%">
        </ion-infinite-scroll>

        <div ng-if="vm.noItemFound">
            <p>Sorry Not Found</p>
          </div>
        <br/>
        <br/>
        <br/>
    </ion-content>
</ion-view>